.calculation {
    overflow-x: clip;    
 

    &-row {
        display: flex;
        align-items: flex-start;
    }

    &-form {
        background: #363A4D;
        border-radius: 20px;

        padding: 49px 47px 40px;

        [class="col-lg-6"] {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &-decoration {
        margin-left: -27px;
        margin-top: -178px;
        width: 100%;
        min-width: calc(100% + 30px);
    }

    label[for="fileInput"] {
        width: calc(100% - 5px);
        border-radius: 10px;
        border: 1px dashed rgba(255, 255, 255, 0.2588235294);
        text-align: center;
        padding: 11px 10px;
        margin: 35px auto 7px auto;
    }
    .calculation-title {
        text-align: left;
    }
    .next-step {
        height: 68px;
    }
}




#fileInput {
    display: none;
}

#file-name {
    position: absolute;
    left: 0;
    top: -2px;
}

.padding-bottom {
    margin-top: 20px;
}


