<section class="calculations">
    <div class="container">
        <div class="template-title col-lg-7">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <div class="calculations-row">
            <form class="calculations-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-box">
                            <label for="cargo-category">Категория товара:</label>
                            <input type="text" id="cargo-category" name="cargo-category" placeholder="Категория товара" value="null">
                        </div>
                        <div class="input-box">
                            <label for="cargo-weight">Вес груза (кг):</label>
                            <input type="number" id="cargo-weight" name="cargo-weight"  placeholder="Введите вес" value="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-box">
                            <label for="cargo-price">Стоимость груза:</label>
                            <input type="number" id="cargo-price" name="cargo-price" placeholder="Введите стоимость">
                        </div>
                        <div class="input-box">
                            <label for="cargo-volume">Объем груза (м<sup>3</sup>):</label>
                            <input type="number" id="cargo-volume" name="cargo-volume" placeholder="Введите объем">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-box">
                            <div class="check-button">
                                <input id="Insurance" type="checkbox" checked name="Insurance">
                                <label for="Insurance">Страховка</label>
                            </div>
                            <div class="check-button">
                                <input id="customs" type="checkbox" name="customs">
                                <label for="checkbox2">Таможенное оформление</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-box">
                            <label for="cargo-TNCode">Код ТН ВЭД:</label>
                            <input type="text" id="cargo-TNCode" name="cargo-TNCode" placeholder="Введите код">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-box">
                            <div id="file-name"></div>
                            <label for="fileInput">Загрузить фото товара</label>
                            <input type="file" id="fileInput" name="fileInput">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-box">
                            <button type="submit" class="btn btn-primary btn-lg">Следующий шаг<img src="assets/img/arrow.svg" class="icon" alt="icon"></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="calculation-decoration">
                <img src="assets/img/calculations.png" class="img-fluid" alt="calculations-decoration">
            </div>
        </div>
    </div>
</section>


 