<div class="first-screen">
    <div class="first-screen-item" style="background-image: url(assets/img/Rectangle-1.jpg);">
        <div class="container">
            <h1 class="first-screen-title">Прямое карго из китая</h1>
            <h1 class="first-screen-subtitle">Доставляем грузы из Китая по честной цене</h1>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость
                <img src="assets/img/arrow.svg" class="icon" alt="icon">
            </button>
        </div>
    </div>
    <div class="first-screen-item" style="background-image: url(assets/img/Rectangle-2.jpg);">
        <div class="container">
            <h1 class="first-screen-title">Прямое карго из китая</h1>
            <h1 class="first-screen-subtitle">Доставляем грузы из Китая по честной цене</h1>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость
                <img src="assets/img/arrow.svg" class="icon" alt="icon">
            </button>
        </div>
    </div>
    <div class="first-screen-item" style="background-image: url(assets/img/Rectangle-3.jpg);">
        <div class="container">
            <h1 class="first-screen-title">Прямое карго из китая</h1>
            <h1 class="first-screen-subtitle">Доставляем грузы из Китая по честной цене</h1>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость
                <img src="assets/img/arrow.svg" class="icon" alt="icon">
            </button>
        </div>
    </div>
    <div class="first-screen-item" style="background-image: url(assets/img/Rectangle-4.jpg);">
        <div class="container">
            <h1 class="first-screen-title">Прямое карго из китая</h1>
            <h1 class="first-screen-subtitle">Доставляем грузы из Китая по честной цене</h1>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость
                <img src="assets/img/arrow.svg" class="icon" alt="icon">
            </button>
        </div>
    </div>
</div>
<div class="first-screen-nav"></div>
